body {
    font-family: 'Raleway', sans-serif;
}
.populaire {
    background-color: #F2F2F2;
    margin: 1.5em;
    padding: 1em;
}
.populaire:nth-child(1){
flex: 1;
}

.recherche {
    align-items: center;
    display: flex;
    border: solid  #921313 1px;
    border-radius: 10px 10px;
    width: fit-content;
}
input{
    border: hidden;
}
.bouton{
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 1em;
}
.mapmarker{
    background-color: #F2F2F2;
    padding: 0.8em;
    border-radius: 10px 0 0 10px;
}

.hebergement{
    background-color: #F2F2F2;
    margin: 1.5em;
    padding: 1em;
}
.hebergement:nth-child(2){
flex: 3;
}

.footer {
    background-color: #F2F2F2;
}

#inscrire {
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 2em;
}

.activite {
    clear: both;
}

.filtre{
    display: flex;
    align-items: center;
    border: solid #F2F2F2 3px;
    border-radius: 50px;
    width:fit-content;
    margin: 12px;
    padding: 0 20px 0 0;
    
}
.icone{
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 50px ;    
    font-size: small;
    color: #0065FC;
    margin-right: 10px;
}
.navig{
    color: black;
    text-decoration: none;
    padding: 2em;
}
.navig:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;  
}
#popheber{
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: space-between;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    padding: 0.7em;
}



