body {
    font-family: 'Raleway', sans-serif;
    margin: 0%;
    padding: 0%;
}
header, aside, .hebergement {
    margin :0 2em 2em 2em
}

/* HEADER */

    .entete{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #inscrire {
        color: #0065FC;
        text-decoration: none;
        font-weight: bold;
        padding: 2em;
    }
    .navig{
        color: black;
        text-decoration: none;
        padding: 2em;
    }
    .navig:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;  
    }
    ul{
        display: flex;
        align-items: center;
        padding: 0.7em;
        list-style-type: none;
    }

    .recherche {
        align-items: center;
        display: flex;
        border: solid  #F2F2F2 1px;
        border-radius: 10px 10px;
        width: 20%;
    }
    .zonerecherche{
        width: 100%;
        display: flex;
    }
    input{
        border: hidden;
    }
    #lieu{
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        padding-left: 1.5em ;
    }
    .bouton{
        background-color: #0065FC;
        color: white;
        border-radius: 0 10px 10px 0;
        padding: 1em;
        width: 40%;
    }
    .mapmarker{
        background-color: #F2F2F2;
        padding: 0.8em;
        border-radius: 10px 0 0 10px;
    }

    #motfiltres{
        margin-right: 15px;
    }
    .filtre{
        display: flex;
        align-items: center;
        border: solid #F2F2F2 3px;
        border-radius: 50px;
        width:fit-content;
        margin: 15px;
        padding: 0 20px 0 0;
        font-size: 18px;
        font-weight: bold; 
    }
    .icone{
        background-color: #DEEBFF;
        padding: 12px;
        border-radius: 50px ;
        color: #0065FC;
        margin-right: 10px;
        width: 1em;
        height: 1em;
    }
    .filtres{
        display: flex;
        align-items: center;
    }
    .info{
        width: 10px;
        height: 10px;
        padding:6px;
        border: solid #F2F2F2 2px;
        border-radius: 50px ;    
        font-size: small;
        color: #0065FC;
        margin-right: 5px;
        text-align: center;
    }


/*POPULAIRE (ET HEBERGEMENT)*/

    #popheber{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        }
    
    .etoile{
        color: #0065FC;
    }
    .noetoile{
        color: #F2F2F2;
    }
    .populaire {
        background-color: #F2F2F2;
        border-radius: 25px;
        margin: 1.5em;
        padding: 1em;
    }
    .populaire:nth-child(1){
    flex: 2;
    }
    .lespluspop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 20px 0px 20px;
    }
    .fa-chart-line{
        font-size: 25px;
    }
    .imagepop{
        width: 35%;
        height: 11em;
        border-radius : 25px 0px 0px 25px;
        object-fit: cover; 
    }
    .boitepop{
        display: flex;
        background-color: white;
        border-radius: 25px;
        padding:5px;
        margin: 0px 20px 40px 20px ;
        box-shadow: 2px 2px 15px rgba(150, 149, 149, 0.575);
    }
    .textpop{
    margin: 20px 20px 0 20px;
    }
    .textpop p{
        padding: 0.5em 0 3em 0;
        margin: 0;
    }
    .textpop i{
        padding: 0;
        margin: 0;
    }


/*HEBERGEMENT*/

    #hébergements{
        padding-left: 1em; 
    }
    .hebergement{
        background-color: #F2F2F2;
        border-radius: 25px;
        margin: 1.5em;
        padding: 2em;
    }
    .hebergement:nth-child(2){
        flex: 5;
    }
    .boite_heber{
        background-color: white;
        border-radius: 25px;
        padding: 5px;
        width: 30%;
        margin: 0px 20px 40px 20px ;
        box-shadow: 2px 2px 15px rgba(150, 149, 149, 0.575);
    }
    .image_heber{
        width: 100%;
        height: 9.6em;
        border-radius : 25px 25px 0 0;
        object-fit: cover;
    }
    .ligne{
        display: flex;
        justify-content: space-around;

    }
    .text_heber{
        padding: 0.5em 1em;
    }
    h4{
        font-size: 17px;
        padding: 0;
        margin: 0;
    }
    .text_heber p{
        padding: 0.5em 0;
        margin: 0;
    }
    span{
        font-weight: bold;
    }
    #afficher{
        padding-left: 1em;
        font-size: 20px;
        font-weight: bold ;
    }


/*ACTIVITES*/

    #activités{
    margin: 1.5em;
    }
    .toutactivites {
        display: flex;
        justify-content: center;
    }
    .dispo1{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .dispo2{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .boitesact1{
        background-color: white;
        border-radius: 25px;
        box-shadow: 2px 2px 15px rgba(150, 149, 149, 0.575);
        margin: 2em;
        width: 50%;
    }
    .boitesact2{
        background-color: white;
        border-radius: 25px;
        box-shadow: 2px 2px 15px rgba(150, 149, 149, 0.575);
        margin: 2em;
        width: fit-content;
    }
    .boitesact1 h4, .boitesact2 h4{
        padding: 1em;
    }
    .img1{
        border-radius: 25px 25px 0 0 ;
        width: 100%;
        height: 535px;
        object-fit: cover;
    }
    .imgfort{
        border-radius: 25px 25px 0 0 ;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .imgiles{
        border-radius: 25px 25px 0 0 ;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .imgnotre{
        border-radius: 25px 25px 0 0 ;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .imgparc{
        border-radius: 25px 25px 0 0 ;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }


/*FOOTER*/

footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 2em;
    margin-top: 2%;
}
.boxfoot{
    margin-right: 15%;
}
.boxfoot p{
    width: 15em;
}

